<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediatek.mtk70951.slidetest" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SlidingMenuActivity_1"
            android:label="@string/title_SlidingMenuActivity_1">

        </activity>
        <activity
            android:name=".SlidingMenuActivity_2"
            android:label="@string/title_SlidingMenuActivity_2">

        </activity>
        <activity
            android:name=".SlidingMenuActivity_3"
            android:label="@string/title_SlidingMenuActivity_3">

        </activity>
        <activity
            android:name=".SlidingMenuActivity_4"
            android:label="@string/title_SlidingMenuActivity_4">

        </activity>
        <activity
            android:name=".SlidingMenuActivity_5"
            android:label="@string/title_SlidingMenuActivity_5">

        </activity>
        <activity
            android:name=".SlidingMenuActivity_6"
            android:label="@string/title_SlidingMenuActivity_6">

        </activity>
        <activity
            android:name=".SlidingMenuActivity_7"
            android:label="@string/title_SlidingMenuActivity_7">

        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" >

        </activity>
    </application>

</manifest>
